<% @horses.each do |horse| %>
  <p>Name: <%= horse.name %></p>
  <p>Age: <%= horse.age %></p>
  <p>Winnings: $<%= horse.total_winnings %></p>
  <form action = "/horses/<%= horse.id %>" method = "POST">
    <input type = "hidden" name = "_method" value = "DELETE">
    <input type = "submit" value = "delete">
  </form>
  <p>********************************</p>
<% end %>
