<h1>New Horse</h1>

<form action = "/horses" method = "post">
  <label>Name:</label>
  <input type = "text" name = "horse[name]">
  <label>Age:</label>
  <input type = "text" name = "horse[age]">
  <label>Total Winnings:</label>
  <input type = "text" name = "horse[total_winnings]">
  <label>Jockey Id:</label>
  <input type = "text" name = "horse[jockey_id]">
  <input type = "submit">
</form>
